/* =====================
  General Styles
===================== */
html {
  font-size: 110%;
}

html,
body {
  height: 100%;
  /* Fullscreen BG */
  width: 100%;
}

body {
  color: #000000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}



/* =====================
  Navbar Styles
===================== */
.navbar-default {
  background-color: transparent;
  border: none;
  height: 80px;
  left: 0;
  margin-bottom: 0;
  padding: 0 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navbar-header {
  height: 80px;
}

.navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}

.navbar-brand,
.navbar-nav>li>a {
  font-family: sans-serif;
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-brand {
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: opacity 0.5s ease-in-out;
}

.navbar-brand .logo {
  margin-right: 15px;
  margin-top: -12px;
  max-height: 90px;
}

.navbar-brand span {
  color: #ff0000;
}

.navbar-nav>li>a,
.navbar-nav>li>button {
  color: #6b7a78;
  height: 36px;
  line-height: 36px;
  margin-top: 22px;
}

.navbar-default .navbar-nav>.active>a {
  background-color: transparent;
  color: #29a598;
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #208479;
  text-decoration: underline;
}

/* Fixed Menu */
.menu-fixed {

  border-radius: 0;
  box-shadow: 0 3px 9px rgb(4, 255, 226);
  height: 60px;
  padding-top: 0;
  position: fixed;
  transition: background-color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

.menu-fixed .navbar-header {
  height: 60px;
}

.menu-fixed .navbar-toggle,
.menu-fixed .navbar-nav>li>a {
  margin-top: 13px;
}

.menu-fixed .navbar-brand {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* =====================
  Jumbotron Styles
===================== */
.jumbotron {

  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
}

.jumbotron .container {
  position: relative;
  top: 50%;
  left: -20%;
  opacity: 0.9; 
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
}

.overlay {
  position:absolute;
  top: 210px;
  left: 1200px;
  z-index:1;
}


/* =====================
  Containers
===================== */
section.row,
footer.row {
  padding: 30px 30px 60px;
}


.navbar-nav .outline.pink {
  border-color: #df3778;
  color: #df3778;
  margin: 20px 15px 0;
  padding-top: 0;
}

.navbar-nav .outline.pink:focus,
.navbar-nav .outline.pink:hover {
  background-color: #df3778;
  color: #fffefd;
  text-decoration: none;
}


